# Sadece temiz kodlar kalacak şekilde ağır her şeyi engelliyoruz:
# Sanal Ortamlar ve Paketler
.venv/
bdv_env/
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
jdk-17/

# Büyük Veri Setleri ve Klasörleri
data/
dataset/
covid/
covid1/

# Ağır Sıkıştırılmış Arşivler ve Dosyalar
*.zip
*.rar
*.tar.gz
*.7z
*.exe
*.html
